<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Proyectos realizados</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Una aplicación que envía correos utilizando la API de Sendgrid.</p>
                <a class="brown" target="_blank" href="#">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Una aplicación para gestionar mis clientes.</p>
                <a class="brown" href="{{ url_for('static', filename='libretas-clientes.zip') }}">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p>Una aplicación que gestionar mis tareas hechas y por hacer.</p>
                <a class="brown" href="{{ url_for('static', filename='db.zip') }}">Link aquí</a>
            </div>
        </div>
    </div>
</div>


