<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Developer de aplicaciones y sitios web.</h1>
                <p>En el constante aprendizaje de nuevos lenguajes de programación y tecnologías para el desarrollo Full Stack. Esta es mi primera web en Python y Flask.</p>
            </div>
            <div class="right padded">
                <h1>Hablemos de proyectos</h1>
                <p>Envíame un correo <a class="brown" href='#contacto'>pinchando aquí</a></p>   

            </div>
        </div>
    </div>
</div>


